# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.DotSettings.user

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/

# Visual Studio
.vs/
*.psess
*.vspx
*.cache
*.dbmdl
*.dbproj.schemaview.xml
*.jfm
*.pfx
*.publishsettings

# JetBrains Rider
.idea/
*.sln.iml

# macOS
.DS_Store
